.WelcomeScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background: rgb(165, 152, 152);
  color:rgb(234, 236, 241);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  }
  .login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
  }
  .button_cont{
    cursor: pointer;
  }
  .google-btn {
    width: 250px;
    height: 50px;
    margin: 1rem;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid grey; 
    
  }
 
  .google-btn:hover,
  .google-btn:focus{
    box-shadow: 0 0 6px #282d35; 
    cursor: pointer;
   
  
  }

  .google-btn:active{
    transition-duration: 10ms;
  }
  .google-icon-wrapper {
    position: absolute;
    margin-top: 4px;
    /* margin-left: 1px; */
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;

   
  }
  
  .google-icon {
    position: absolute;
    margin-top: 11px;
    /* margin-left: px; */
    width: 18px;
    height: 18px;
    

  } 
  
  .btn-text {
  float: right; 
  color: rgb(234, 236, 241);
  font-size: 14px;
  letter-spacing: 0.2px;
  /* font-family: "Roboto"; */
  background-color:#fff;
  width: 80%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  border:none;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  }

  .privacy{
    color: rgb(234, 236, 241);
    margin-top: 20px;
  }
  .privacy:hover,
  .privacy:focus{
    color: rgb(73, 73, 75);
  
  }